:wq.gradle
/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Package Files #
*.jar
*.war
*.ear
.idea
*.iws
# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
